@import 'core/typography';
@import 'core/colors';

[app-button] {
    background: var(--accentColor);
    padding: 10px;
    font-size: 8pt;
    color: var(--textColor);
    margin: 0 5px 5px 0;
    outline: none;
    border-radius: 10px;

    &:hover {
        background: var(--accentColorHover);
        outline: none;
    }

    &:active {
        background: var(--accentColorActive) !important;
        border: 1px solid var(--accentColorHover);
        outline: none !important;
    }

    &.big {
        padding: 20px 40px;
    }

    &.circular {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        line-height: 1.2;
    }

    &.link {
        text-transform: uppercase;
        background: none;
        color: var(--secondaryColor);
        padding: 5px 0;
        border-radius: 0;

        &:hover {
            background: none;
            outline: none;
            border-bottom: 1px solid var(--secondaryColor);
        }

        &:active {
            background: none !important;
            outline: none !important;
            border: none !important;
            border-bottom: 1px solid var(--secondaryColor);
        }
    }

    &.icon {
        font-size: 25px;
        background: none;
        border-radius: 0;
        padding: 0;

        &:hover, &:active {
            background: none !important;
            outline: none !important;
            border: none;
            color: gray;
        }
    }
}


.checkbox {
    font-size: 9pt;
    color: var(--textColor);
    width: 100%;
    min-width: 100px;
    position: relative;
    margin: 0 10px 10px 0;

    .innerControl {
        display: flex;
        align-items: center;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: 0;
        opacity: 0.01;
    }

    [type="checkbox"]:not(:checked)+label,
    [type="checkbox"]:checked+label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        height: 30px;
        padding-top: 3px;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 29px;
        height: 29px;
        border: 1px solid #262A34;
        background: #262A34;
        border-radius: 3px;
        transition: all .275s;
    }

    /* checked mark aspect */
    [type="checkbox"]:not(:checked)+label:after,
    [type="checkbox"]:checked+label:after {
        content: "";
        position: absolute;
        top: 7px;
        left: 7px;
        border-radius: 3px;
        transition: all 0.2s;
        width: 15px;
        height: 15px;
        background: var(--secondaryColor);
    }

    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0) rotate(45deg);
        transform: scale(0) rotate(45deg);
    }

    [type="checkbox"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }

}

.popup {
    position: fixed;
    top: 0;
    left: 0;
}

.gbx-panel-title {
    color: black;
}

.menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    color: black;

    .item {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 12pt;
        transition: all 300ms;
        
        cursor: pointer;
        .icon {
            font-size: 14pt;
            padding-right: 10px;
        }
        .text {}

        &.bottom {
            bottom: 0;
            position: absolute;
        }

        &:hover {
            color: #525252;
        }
    }
}