@import 'core/colors';

.page {
    padding: 30px;
}


.screen-view {
    width: 360px;
    height: 740px;

    width: 100vw;
    height: 100vh;
    // background-color: rgb(239, 239, 239);
    // border: 1px solid #333;
    
    display: flex;
    flex-direction: column;

    .view-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.screen-view-header {
    height: 75px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 12pt;

    .return {
        
    }
}

.screen-view-content {
    height: calc(100vh - 75px);
    max-height: calc(100vh - 75px);
    padding: 30px;
    overflow: auto;
}

.screen-view-full-content {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    padding: 30px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-form {
    width: 80vw;

    &.alingToCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        align-content: space-between;
        text-align: center;
    }
}


.accounts {
    margin: 0 0 30px 0;
    font-size: 12pt;

    .accountsTitle {
        padding: 10px 0;
        font-size: 10pt;
    }

    .accountsList {
        .accountRequest {
            display: flex;
             padding: 20px 0;
        }

        .accountCard {
            margin: 0 0 10px 0;
            .card-small {
                background: rgb(191, 191, 191);
                border-radius: 10px;
                padding: 10px 10px;
                .card {
                    background: none;
                    border: none;
                    &.name {}
                    &.status {
                        font-size: 8pt;
                        background: #04AE09 !important;
                        border-radius: 10px;
                        padding: 5px 5px 0px;
                        text-transform: uppercase;
                    }
                    &.balance {
                        font-size: 18pt;
                    }
                }

                .card-header {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                }
                .card-content {
                    display: flex;
                    justify-content: flex-end;
                    padding: 10px 0;
                }

            }
        }
    }

}

.logo {
    width: 100%;
    height: auto;
    animation: fade 3s ease 0s infinite normal none;
}

@keyframes fade {
    
    0%,25% {
      opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
    
  }

// * * {
//     outline: 1px solid rgb(242, 197, 242);
// }