<div id="login" class="screen-form alingToCenter">
  <h1>Bienvenido!</h1>
  <h5 class="emphasis">La mejor banca en linea del pais.</h5>

  <div class="form">
    <app-input [id]="'user'" [title]="'Usuario / Cliente'"></app-input>
    <app-input [id]="'password'" [title]="'Password'"></app-input>

    <div class="col-12">
      <span><button app-button class="link" (click)="gotoReset()">No recuerdo mi contraseña</button></span>
    </div>

    <div class="col-12" *ngIf="responseMessage">
      <span>{{ responseMessage }}</span>
    </div>

    <div class="col-12">
      <button app-button class="big" (click)="login()">Acceder</button>
    </div>

    <div class="col-12">
      <span>¿Eres nuevo por aqui?, <button app-button class="link" (click)="gotoRegister()">Registrate</button> </span>
    </div>
  </div>