<div class="screen-view">
  <form class="needs-validation view-container">
    <div class="row g-3">

      <div class="col-12">
        <label for="username" class="form-label">Usuario / Cliente</label>

        <div class="input-group has-validation">
          <input type="text" class="form-control" id="username" required="">
          <div class="invalid-feedback">
            Your username is required.
          </div>
        </div>
      </div>

      <div class="col-12">
        <label for="password" class="form-label">Constraseña</label>

        <input type="password" class="form-control" id="password">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>

      <div class="col-12">
        <span>No recuerdo mi contraseña</span>
      </div>

      <div class="col-12">
        <button class="btn btn-primary btn-lg" type="submit">Acceder</button>
      </div>

      <div class="col-12">
        <span>¿Eres nuevo por aqui?, Registrate</span>
      </div>

    </div>
  </form>

</div>