.checkbox {
    font-size: 10pt;
    color: var(--textColor);
    width: 100%;
    position: relative;
    margin: 0 10px 10px 0;

    .innerControl {
        display: flex;
        align-items: center;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: 0;
        opacity: 0.01;
    }

    [type="checkbox"]:not(:checked)+label,
    [type="checkbox"]:checked+label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        height: 30px;
        padding-top: 3px;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 29px;
        height: 29px;
        border: 1px solid #262A34;
        background: #262A34;
        border-radius: 3px;
        transition: all .275s;
    }

    /* checked mark aspect */
    [type="checkbox"]:not(:checked)+label:after,
    [type="checkbox"]:checked+label:after {
        content: "";
        position: absolute;
        top: 7px;
        left: 7px;
        border-radius: 3px;
        transition: all 0.2s;
        width: 15px;
        height: 15px;
        background: var(--secondaryColor);
    }

    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0) rotate(45deg);
        transform: scale(0) rotate(45deg);
    }

    [type="checkbox"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }

}