<div class="content">
  <div class="screen-form alingToCenter" id="transfer">
    <h1>{{ card.name }}</h1>
    <h3 class="emphasis">{{ card._cardNumber }}</h3>
    <h4 class="link amount">{{ card._balance }} {{ card.currency }}</h4>
    <hr class="my-4">

    <div class="form">
      <h5>¿A quien envias?</h5>
      <app-input [id]="'account'" [title]="'Telefono / Numero Tarjeta / CLABE'" [required]="true"></app-input>
      <h5>¿Cuánto quieres enviar?</h5>
      <app-input [id]="'amount'" [title]="'Monto'" [required]="true"></app-input>

      <app-input [id]="'concept'" [title]="'Concepto'" [required]="true"></app-input>

      <div class="col-12" *ngIf="responseMessage">
        <span>{{ responseMessage }}</span>
      </div>

      <br>

      <button app-button class="big" (click)="send()">Enviar</button>
    </div>
  </div>

</div>