
<div class="screen-view">
  <div class="header">
    <div class="return"> r </div>
    <div class="title">DEBITO</div>
    <div class="options">op</div>
  </div>

  <div class="content">
    <div class="card-account">
      <div class="card-details">
        <div class="function"></div>
        <div class="card"></div>
        <div class="function"></div>
      </div>
      <div class="card-balance-total">
        $ 18,000.00 MXN
      </div>
      <div class="card-operations">
        <button>Enviar</button>
        <button>Pagar</button>
        <button>Retirar</button>
      </div>

      <div class="card-history">
        <div class="information">
          <div class="info-group">Legal</div>
    
    
          <div class="info-list">
            <div class="info-item">
              Terminos y condiciones
            </div>
    
            <div class="info-item">
              Constacia de situacion fiscal 
            </div>
    
          </div>
    
        </div>

        <div class="information">
          <div class="info-group">Legal</div>
    
    
          <div class="info-list">
            <div class="info-item">
              Terminos y condiciones
            </div>
    
            <div class="info-item">
              Constacia de situacion fiscal 
            </div>
    
          </div>
    
        </div>
      </div>
    </div>
  </div>
</div>