<div class="page">
  <h1>UX Help</h1>

<h2> Texts </h2>

<h3>Sergio Antonio Gallegos Alvarado</h3>

<h3 class="link">Cliente: 23651</h3>

<h4 class="emphasis">sergio.gallegos@live.com.mx</h4>

<p >Lorem ipsum dolor sit amet, <span class="link">consectetur adipiscing elit</span> . Etiam tempus sagittis ornare. Donec a consectetur nunc, ac blandit ex. Sed molestie mauris dolor, eget commodo tellus fringilla non. <span class="link">Pellentesque tincidunt arcu eu risus pretium</span>, et aliquam ipsum tristique. Duis ornare condimentum sem. Phasellus vel neque id massa euismod porttitor ut sit amet ipsum. Curabitur a tempor eros. Nunc eu odio venenatis, pretium tortor ut, scelerisque odio. Sed dui nisl, <span class="emphasis">tempus tempus tellus at</span>, consequat tincidunt velit. Vivamus augue est, cursus ac commodo sit amet, blandit vel enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam a aliquam nibh, non molestie urna. Nulla bibendum, purus ac eleifend tincidunt, lacus quam venenatis est, <span class="emphasis">accumsan commodo tortor mauris non metus</span>. Donec ex lacus, tincidunt eu metus eu, maximus facilisis neque.</p>

<hr class="separator">


<h2> Controls </h2>

<h4 class="link">Inputs</h4>

<app-input></app-input>

<h4 class="link">Checkbox</h4>

<app-checkbox></app-checkbox>
<app-checkbox></app-checkbox>
<app-checkbox></app-checkbox>


<h4 class="link">Button</h4>

<button app-button >Contratar</button>
<button app-button >Analizar</button>
<button app-button >REESTABLECER</button>
<button app-button >wdfwvwew eqwfdwef</button>


<h4 class="link">Button Big</h4>

<button app-button class="big" >Contratar</button>
<button app-button class="big" >Analizar</button>
<button app-button class="big" >REESTABLECER</button>
<button app-button class="big" >wdfwvwew eqwfdwef</button> 

<h4 class="link">Button Link</h4>

<button app-button class="link" >Contratar</button>
<button app-button class="link" >Analizar</button>
<button app-button class="link" >REESTABLECER</button>
<button app-button class="link" >wdfwvwew eqwfdwef</button> 

<h4 class="link">Button Circular</h4>

<button app-button class=" circular">
  <i class="fa-solid fa-chevron-left"></i>
</button>

<button app-button class=" circular">
  <i class="fa-regular fa-eye"></i>
</button>

<button app-button class=" circular">
  <i class="fa-regular fa-credit-card"></i>
</button>


<h4 class="link">Header</h4>

<h4 class="link">Card</h4>

<h4 class="link">Card small</h4>

<h4 class="link">card info</h4>
</div>