<div class="content">

  <div class="card-information" *ngFor="let card of cards">

    <h1>{{ card.name }} </h1>
    <h5 class="emphasis">{{ card.description }}</h5>

    <div class="card-characteristics">

      <div class="card-preview">
        <img [attr.src]="card.front" alt="">
      </div>
      <div class="card-preview-list">

        <div class="info-list">
          <div class="info-item"> 
            <span *ngIf="card.commission === 0">Sin comision por uso</span>
            <span *ngIf="card.commission != 0"> <span class="link">{{ card.commission }}%</span> de comision por uso</span>
          </div>

          <div class="info-item">
            <span *ngIf="card.annuity === 0">Sin anualidad</span>
            <span *ngIf="card.annuity != 0"> <span class="link">${{ card.annuity }}</span> de anualidad</span>
          </div>

          <div class="info-item" *ngIf="card.maxAmount">
            <span>monto maximo dee credito <span class="link">${{ card.maxAmount }}</span></span>
          </div>

          <div class="info-item">
            <span *ngIf="card.cashback === 0">Sin cashback</span>
            <span *ngIf="card.cashback != 0"> <span class="link">{{ card.cashback }}% </span> de cashback</span>
          </div>

          <div class="info-item">
            <span *ngIf="!card.digital">Sin tarjeta digital</span>
            <span *ngIf="card.digital">Con <span class="link">tarjeta digital</span></span>
          </div>

          <hr class="my-4">
          <button app-button class="link" (click)="contract(card)">Contratar</button>

        </div>

      </div>
    </div>

  </div>
</div>