<div class="screen-view">
  <div class="header">
    <div class="return"> r </div>
    <div class="title">Tarjeta de debito</div>
    <div class="options">op</div>
  </div>

  <div class="content">
    <div class="information">
      <div class="info-card">
        CARD NAME
      </div>

      <div class="info-list">
        <div class="info-item">
          Sin monto minimo por mes
        </div>
        <div class="info-item">
          Sin monto minimo por mes
        </div>
        <div class="info-item">
          Sin monto minimo por mes
        </div>

        <hr class="my-4">
        <button class="btn btn-primary btn-lg">Contratar</button>

      </div>

    </div>

    <div class="information">
      <div class="info-card">
        CARD NAME
      </div>

      <div class="info-list">
        <div class="info-item">
          Sin monto minimo por mes
        </div>
        <div class="info-item">
          Sin monto minimo por mes
        </div>
        <div class="info-item">
          Sin monto minimo por mes
        </div>

        <hr class="my-4">
        <button class="btn btn-primary btn-lg">Contratar</button>

      </div>

    </div>

    <div class="information">
      <div class="info-card">
        CARD NAME
      </div>

      <div class="info-list">
        <div class="info-item">
          Sin monto minimo por mes
        </div>
        <div class="info-item">
          Sin monto minimo por mes
        </div>
        <div class="info-item">
          Sin monto minimo por mes
        </div>

        <hr class="my-4">
        <button class="btn btn-primary btn-lg">Contratar</button>

      </div>

    </div>
  </div>
</div>