.button-lit {
    background: var(--accentColor);
    padding: 10px;
    font-size: 10pt;
    color: var(--textColor);
    margin: 0 5px 5px 0;
    outline: none;
    border-radius: 10px;

    &:hover {
        background: var(--accentColorHover);
        outline: none;
    }

    &:active {
        background: var(--accentColorActive) !important;
        border: 1px solid var(--accentColorHover);
        outline: none !important;
    }

    &.big {
        padding: 11px 40px;
    }

    &.circular {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        line-height: 1.2;
    }

    &.link {
        // text-transform: uppercase;
        background: none;
        color: var(--secondaryColor);
        padding: 5px 0;
        border-radius: 0;

        &:hover {
            background: none;
            outline: none;
            border-bottom: 1px solid var(--secondaryColor);
        }

        &:active {
            background: none !important;
            outline: none !important;
            border: none !important;
            border-bottom: 1px solid var(--secondaryColor);
        }
    }

    &.icon {
        font-size: 25px;
        background: none;
        border-radius: 0;
        padding: 0;

        &:hover,
        &:active {
            background: none !important;
            outline: none !important;
            border: none;
            color: gray;
        }
    }
}