<div class="screen-view">
    
    <div class="header">
      <div class="return"> r </div>
      <div class="user">Hola, Sergio</div>
      <div class="title">Titulo</div>
      <div class="options">op</div>
    </div>
  
    <div class="content">
      <div class="accounts">
        <div class="accountsTitle">Cuentas en Efectivo</div>
  
        <div class="accountsList">
          <div class="accountRequest">
            Solicitar tarjeta
          </div>
  
          <div class="accountCard">
            <div class="card-small">
              <div class="card-header">
                <div class="card name">**** 9870</div>
                <div class="card status">Activa</div>
              </div>
              <div class="card-content">
                <div class="card balance">$ 18,000.000 MXN</div>
              </div>
            </div>
          </div>
  
          <div class="accountCard">
            <div class="card-small">
              <div class="card-header">
                <div class="card name">**** 9870</div>
                <div class="card status">Activa</div>
              </div>
              <div class="card-content">
                <div class="card balance">$ 18,000.000 MXN</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="accounts">
        <div class="accountsTitle">Cuentas de Credito</div>
  
        <div class="accountsList">
          <div class="accountRequest">
            Solicitar tarjeta
          </div>
  
          <div class="accountCard">
            <div class="card-small">
              <div class="card-header">
                <div class="card name">**** 9870</div>
                <div class="card status">Activa</div>
              </div>
              <div class="card-content">
                <div class="card balance">$ 18,000.000 MXN</div>
              </div>
            </div>
          </div>
  
          <div class="accountCard">
            <div class="card-small">
              <div class="card-header">
                <div class="card name">**** 9870</div>
                <div class="card status">Activa</div>
              </div>
              <div class="card-content">
                <div class="card balance">$ 18,000.000 MXN</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>