<div class="screen-view">
  <form class="needs-validation view-container">
    <div class="row g-3">

      <div class="col-12">
        <label for="username" class="form-label">Correo electronico</label>
        <div >
            Sergio Antonio Gallegos Alvarado
        </div>
      </div>
      
     
      <div class="col-12">
        <label for="text" class="form-label">Constraseña</label>
        <input type="text" class="form-control" id="password" placeholder="contraseña">
        <div class="invalid-feedback">
          Please enter a valid text address for shipping updates.
        </div>
      </div>

      
      <div class="col-12">
        <label for="text" class="form-label">Seguridad</label>
      </div>

      <div class="col-12">
        <label for="text" class="form-label">Confirmar Constraseña</label>
        <input type="text" class="form-control" id="password" placeholder="contraseña">
        <div class="invalid-feedback">
          Please enter a valid text address for shipping updates.
        </div>
      </div>

    </div>
    <hr class="my-4">
    <button class="btn btn-primary btn-lg" type="submit">Actualizar</button>
  </form> 
</div>