<div class="screen-view">
  <form class="needs-validation view-container">
    <div class="row g-3">

      <div class="col-12">
        <label for="username" class="form-label">Te enviamos una clave al correo </label>
        <div >
            sergio.gallegos@live.com.mx
        </div>
      </div>
      
     
      <div class="col-12">
        <label for="text" class="form-label">Codigo</label>
        <input type="text" class="form-control" id="password" placeholder="">
      </div>

    
    </div>
    <hr class="my-4">
    <button class="btn btn-primary btn-lg" type="submit">Validar</button>
  </form> 
</div>
