$primary: blue;

$black_12: rgba(0, 0, 0, 0.12);
$black_22: rgba(0, 0, 0, 0.22);
$black_100: rgba(0, 0, 0, 1);

$white_100: rgba(255, 255, 255, 1);

$accent1: #B5C2F4;
$accent2: #C5F2E5;
$accent3: #C7F8CA;