@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@400;500&family=Labrada:ital,wght@0,300;0,400;0,600;1,400&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

.bebasFont {
    font-family: 'Bebas Neue';
}
.firaFont { font-family: 'Fira Code'; }
.labradaFont { font-family: 'Labrada'; }
.monoFont { font-family: 'Major Mono Display'; }

.openSansFont {
    font-family: 'Open Sans', sans-serif;
}